################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/glad/src
/glad/include
/out/build/x64-Debug (default)
